.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    color: purple;
    font-size: 3rem;
    margin-top: 0;
}

#keyBox li{
    list-style: none;
    margin-left: -40px;
}

#keyBox ul{
    display: flex;
    justify-content: space-evenly;
}

#keyBox{
    width: 55vw;
    border-radius: 1rem;
    background-color: rgb(78, 77, 77);
    padding: 1rem 0px;
}

#keyBox button{
    font-size: large;
    padding: 0.5rem;
    width: 10vw;
    height: 8vh;
    cursor: pointer;
    border: 1px solid orange;
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
}

#keyBox button:hover{
    background-color: rgba(0, 0, 0, 0.685)
}

#screen{
    width: 50vw;
    height: 10vh;
    margin-bottom: 2vh;
    font-size: xx-large;
    padding: 0px 1vw;
    border: 0.1px solid black;
    border-radius: 0.5rem;
}